Failed MDNs - failed vs error

I just ran into something where our failed MDNs have this in them:
 
`Disposition: automatic-action/MDN-sent-automatically;error`
 
The big thing is that I’m pretty sure that should say **failed** instead of error.
 
I’m going to go ahead and just assume this to be true. I created a simple unit test that tests the basic core of what we are doing to generate the MDNs:
 
```
@Test
public void testFailedMDN() {
    Notification notification = new Notification(NotificationType.Error);
    notification.setExplanation("Your message encountered an error and failed delivery to the target system. Please contact your system administrator.");
    System.out.println(notification);
   
    String dispositionStatus = NotificationHelper.asString(NotificationType.Error);
    System.out.println("dispositionStatus: " + dispositionStatus);
}
```
 
The output of this is:
 
```
-------------------------------
------=_Part_1_388706379.1481159551117
 
Your message encountered an error and failed delivery to the target system. Please contact your system administrator.
------=_Part_1_388706379.1481159551117
content-type: message/disposition-notification
 
Disposition: automatic-action/MDN-sent-automatically;error
 
------=_Part_1_388706379.1481159551117--
 
asString: error
 
-------------------------------
```

Any help on this?

Validated that RFC 3798 does not define a disposition of error.  The disposition should be "failed" as listed in section 4 of RFC3798.

@gm2552 - any plans for a 2.2.3 or 2.3 release of Agent? I have a pressing issue that would be really good to get this new code for failed MDN types.

Maybe tomorrow.

Greg Meyer | Director, Distinguished Engineer  | Cerner Corporation | Work 816-201-2009 | Cell 816-885-5200 | gmeyer@cerner.com<mailto:gmeyer@cerner.com> | www.cerner.com<applewebdata://113BFAF5-3596-4EB8-8FC8-2F210BB07EA1/www.cerner.com>

From: Marcus Malcom
Reply-To: DirectProject/nhin-d
Date: Tuesday, December 13, 2016 at 1:34 PM
To: DirectProject/nhin-d
Cc: Greg Meyer, Mention
Subject: Re: [DirectProject/nhin-d] Failed MDNs - failed vs error (#265)


@gm2552<https://na01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2Fgm2552&data=01%7C01%7CGMEYER%40CERNER.COM%7C54ff50df3cd744cabf2d08d4238efda5%7Cfbc493a80d244454a815f4ca58e8c09d%7C0&sdata=wLK%2Fxns2u2ReyOdaHzXvjpj54LdqgOHwBImEIG4igc0%3D&reserved=0> - any plans for a 2.2.3 or 2.3 release of Agent? I have a pressing issue that would be really good to get this new code for failed MDN types.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://na01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2FDirectProject%2Fnhin-d%2Fissues%2F265%23issuecomment-266838251&data=01%7C01%7CGMEYER%40CERNER.COM%7C54ff50df3cd744cabf2d08d4238efda5%7Cfbc493a80d244454a815f4ca58e8c09d%7C0&sdata=NHxou7yd2I24ppMvoijzEcQ4D%2BsitDUfcZeUgVGY1QY%3D&reserved=0>, or mute the thread<https://na01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2Fnotifications%2Funsubscribe-auth%2FAA3OQs2WcK5dQfjPK77zLrI0D2et_59kks5rHvMogaJpZM4LLEf4&data=01%7C01%7CGMEYER%40CERNER.COM%7C54ff50df3cd744cabf2d08d4238efda5%7Cfbc493a80d244454a815f4ca58e8c09d%7C0&sdata=dzWSVfzxxZ9KgpI%2BtedpR3G9rwmlZwKcGe5n5i7i4CA%3D&reserved=0>.

CONFIDENTIALITY NOTICE This message and any included attachments are from Cerner Corporation and are intended only for the addressee. The information contained in this message is confidential and may constitute inside or non-public information under international, federal, or state securities laws. Unauthorized forwarding, printing, copying, distribution, or use of such information is strictly prohibited and may be unlawful. If you are not the addressee, please promptly delete this message and notify the sender of the delivery error by e-mail or you may call Cerner's corporate offices in Kansas City, Missouri, U.S.A at (+1) (816)221-1024.


2.2.3 has been released.

Greg Meyer | Director, Distinguished Engineer  | Cerner Corporation | Work 816-201-2009 | Cell 816-885-5200 | gmeyer@cerner.com<mailto:gmeyer@cerner.com> | www.cerner.com<applewebdata://113BFAF5-3596-4EB8-8FC8-2F210BB07EA1/www.cerner.com>

From: Marcus Malcom
Reply-To: DirectProject/nhin-d
Date: Tuesday, December 13, 2016 at 1:34 PM
To: DirectProject/nhin-d
Cc: Greg Meyer, Mention
Subject: Re: [DirectProject/nhin-d] Failed MDNs - failed vs error (#265)


@gm2552<https://na01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2Fgm2552&data=01%7C01%7CGMEYER%40CERNER.COM%7C54ff50df3cd744cabf2d08d4238efda5%7Cfbc493a80d244454a815f4ca58e8c09d%7C0&sdata=wLK%2Fxns2u2ReyOdaHzXvjpj54LdqgOHwBImEIG4igc0%3D&reserved=0> - any plans for a 2.2.3 or 2.3 release of Agent? I have a pressing issue that would be really good to get this new code for failed MDN types.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://na01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2FDirectProject%2Fnhin-d%2Fissues%2F265%23issuecomment-266838251&data=01%7C01%7CGMEYER%40CERNER.COM%7C54ff50df3cd744cabf2d08d4238efda5%7Cfbc493a80d244454a815f4ca58e8c09d%7C0&sdata=NHxou7yd2I24ppMvoijzEcQ4D%2BsitDUfcZeUgVGY1QY%3D&reserved=0>, or mute the thread<https://na01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2Fnotifications%2Funsubscribe-auth%2FAA3OQs2WcK5dQfjPK77zLrI0D2et_59kks5rHvMogaJpZM4LLEf4&data=01%7C01%7CGMEYER%40CERNER.COM%7C54ff50df3cd744cabf2d08d4238efda5%7Cfbc493a80d244454a815f4ca58e8c09d%7C0&sdata=dzWSVfzxxZ9KgpI%2BtedpR3G9rwmlZwKcGe5n5i7i4CA%3D&reserved=0>.

CONFIDENTIALITY NOTICE This message and any included attachments are from Cerner Corporation and are intended only for the addressee. The information contained in this message is confidential and may constitute inside or non-public information under international, federal, or state securities laws. Unauthorized forwarding, printing, copying, distribution, or use of such information is strictly prohibited and may be unlawful. If you are not the addressee, please promptly delete this message and notify the sender of the delivery error by e-mail or you may call Cerner's corporate offices in Kansas City, Missouri, U.S.A at (+1) (816)221-1024.
