Java RI monitoring not matching final-recipeint field

```
What steps will reproduce the problem?
1. Send a message to a HISP using the format <user@localpart.com>
2. Message received by HISP sends an MDN back to the original sender with a 
final-recipient address in the format <user@localpart.com>

What is the expected output? What do you see instead?

The monitoring service matches the final-recipient with the recipient list of 
the original messages.  For monitoring purposes, the RI normalizes the 
recipient list of the original message in the format user@local part stripping 
away extra character including <> and "".  By default the Java RI creates MDN 
messages with the final recipient field normalized, however this is not a 
requirement for other HISPs.  In fact, RFC3798 section 3.2.4 states:

   The Final-Recipient address may differ from the address originally
   provided by the sender, because it may have been transformed during
   forwarding and gatewaying into a totally unrecognizable mess.

When the monitoring service receives an MDN message from a remote HISP, it uses 
the raw string of the field for monitoring instead of normalizing the address 
into the same format as the original outgoing message.  This can result in a 
MDN messages not matching up with the original message and false negative DSN 
messages being generated.

The monitoring service will be updated to normalize the final recipient field 
of incoming notification messages. 


```

Original issue reported on code.google.com by `gm2...@cerner.com` on 6 Jun 2014 at 12:37
